<div class="row">
  <div class="col-5">
    <form>
      <div class="form-group">
        <label style="color: white;" for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label style="color: white;" for="email">Email</label>
        <input class="form-control" type="text" name="email" id="email" [(ngModel)]="email">
      </div>
      <div>
        <button [disabled]="name === '' || email === '' ? !resetField: resetField" class="btn btn-primary"
          (click)="onSubmit()" type="submit">Submit</button>
        <button class="btn btn-warning" (click)="onClearfromMain()" type="submit">Clear</button>
      </div>
    </form>
    <div>
      <app-map></app-map>
    </div>
  </div>
  <div style="color: white;" class="col-7">
    <app-main-side (Resetfield)="onClearfield($event)" *ngFor="let name of names; let i = index" [name]="name"
      [index]="i"></app-main-side>
  </div>
</div>
