@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  background: url('https://i.ytimg.com/vi/WQmGwmc-XUY/maxresdefault.jpg')  rgba(24, 24, 24, 0.842);
  background-size: cover;
  background-blend-mode: multiply;
  /* box-shadow:inset 0 0 0 rgba(0, 145, 150, 0.3) */

}

body {
  background-color: transparent;
}
